.timetable
	user-select: none
	width: 750px
	height: auto
	contain: content
	overflow-x: hidden
	overflow-y: hidden
	min-height: 500px
	width: 101%
	max-width: 750px
	text-align: center;
	&__hover
		width: 60px
		height: 28px
		overflow: hidden
		text-align: center
		color: #870005
		font-family: Segoe UI
		font-size: 18px
		display: inline-block
		background-color: #ffd667;
		border: 1px solid #95989a;
		color: #000;
		outline: 0;
		border: 1px solid #cccdcd
	&__min
		text-align: center
		color: #870005
		font-family: Segoe UI
		font-size: 18px
		background-color: #ffd667;
		border: 1px solid #95989a;
		color: #000;
		outline: 0;
		border: 1px solid #cccdcd
		text-shadow: 0 -1px 0 rgba(0,0,0,.2);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
		border-radius: 4px
	&__row
		white-space: nowrap
		&__all
    		margin: 6% 3%
		&--subrow
	    display: inline-block
	    width: 100%             
	&__header
		height: auto
		min-height: 40px
		width: auto
		min-width: 25%
		color: #D9A414
		text-align: center
		font-family: Segoe UI
		font-size: 120%
		display: inline-block
		font-weight: 500
		padding: 0 2% 0 2%;
		&:hover
    		cursor: pointer
		&__row
			background: #fefcd7
			max-width: 750px
			width: auto
			height: auto
			min-height: 40px    