.panel--button
	position: fixed
	top: 353px
	background: #0094d6
	width: 200px
	left: calc(0px + 30px - 200px )
	height: 40px
	font-size: 25px
	color: #fff
	text-align: right
	transition-duration: 0.3s
	border-radius: 0 5px 5px 0

.panel
	position: fixed
	top: 153px
	left: -100px
	background: #ff7700
	width: 100px
	height: 150px
	padding: 100px 0 0 0
	transition-duration: 0.3s
	border-radius: 0 5px 0 0
.panel--button:hover 
	left: calc(0px + 30px - 200px + 100px )
.panel--button:hover 
	.panel
		left: 0