.to_technopolis,.from_technopolis
    border : 1px solid $light-grey
    background: #FEFCD7
    color: #D9A414
    outline: none
    
    
.to_technopolis.active,.from_technopolis.active
    background-color: $accent
    border : 1px solid $light-grey
    color: #000
    outline: none

.to_technopolis:hover,.from_technopolis:hover
    background-color: #FEFCD7
    color: #870005
    outline: none
    border : 1px solid $light-grey

.to_technopolis.focus.active, .to_technopolis.focus.active:hover, .to_technopolis.active:hover,.from_technopolis.focus.active, .from_technopolis.focus.active:hover, .from_technopolis.active:hover
    background-color: $accent
    color: #870005
    outline: none
    border : 1px solid $light-grey
    