@import "fonts"
@import "libs"
@import "vars"
@import "components/switch"
@import "components/map"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.main
	height: 100vh
	&__contant
		height: 100%

.highlighter-rouge
	text-transform: uppercase

.text-logo
	&:after  
		content: " "
		font-size: 24pt
		text-align: center
		line-height: 42px
		color: #fff
		vertical-align: middle;
		background: url(/img/technopolis.jpg)
		background-size: cover
		display: inline-block
		height: 17px
		width: 104px

.timetable
	user-select: none
	width: 750px
	height: auto
	contain: content
	overflow-x: hidden

	&__row
		white-space: nowrap
        max-width: 750px
        width: auto
		&--subrow
	    display: inline-block
	    width: 100%
		.timetable__hover
             display: inline-block


.timetable
    background: #FEFCD7
    overflow-y: hidden
    min-height: 500px
            

.timetable__row
    background: #FEFCD7
    height: 25px
    margin-bottom: 10px

    

.timetable__header__row
    background: #FEDEB7
    max-width: 750px
    width: auto
   
    
.timetable__hover
    width: 60px
    height: 28px
    overflow: hidden


    
.timetable__header
    height: 59px
    width: 203px
    color: #D9A414
    text-align: center
    font-family: Segoe UI
    font-size: 28px
    display: inline-block
    
.timetable__hover,.timetable__min
    text-align: center
    color: #870005
    font-family: Segoe UI
    font-size: 18px
    font-weight: 900

    


.timetable__row__all
    margin: 7% 3%
    
.timetable__row--subrow
    margin-left: 60px

    
.timetable__header:hover
    cursor: pointer
//    background: #FEFCD7
//    color: #B23302
    
    

.slick-slide
    margin-right: 7px
    background: #FFCC01
    width: 60px
    height: 28px
    margin-top: 10px

#to
    background: #FEFCD7
    color: #B23302

//.timetable__hover:after
//    content: ""
//    display: inline-block
//    vertical-align: middle
//    margin-right: -100%
//    width: 60px
//    height: 1px
//    background-color: #000
//    position: relative

#route1
    display: none

.col-sm-6
    width: auto
    margin-left: 1%
.row.main
    padding: 0 0 0 40px
.container,.row
    width: auto
hr
    border-color: #000
    margin: 1% 0 0 0
    vertical-align: center
    width: 20%
@import "media" // Всегда в конце
