@import "fonts"
@import "libs"
@import "vars"
@import "components/switch"
@import "components/map"
@import "components/switch/switch"
@import "components/timetable/timetable"
@import "components/panel/panel"
@import "components/panel/days"
@import "components/preloader/preloader"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: initial//100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
body
   // background-image: url(/img/pattern.svg); /* Путь к фоновому рисунку */
   // background-position: left bottom; /* Положение фона */
   // background-repeat: repeat; /* Повторяем фон по горизонтали */
	
#body
   position: relative
#body:before 
	content : ""
	display: block
	position: absolute
	top: 0
	left: 0
	background-image: url(/img/pattern.png)
	background-repeat: repeat
	width: 100%
	height: 100%
	opacity : 0.1
	z-index: 0
.main
	height: 100vh
	&__contant
		height: 100%

.highlighter-rouge
	text-transform: uppercase

.text-logo
		content: " "
		font-size: 24pt
		text-align: center
		line-height: 42px
		color: #fff
		vertical-align: middle;
		background: url(/img/technopolis.jpg)
		background-size: cover
		display: inline-block
		height: 0
		width: 28%
.text-logo
        padding-top: 7%

#to
    background: $accent-low
    color: $red
#route1
    visibility: hidden
    position: absolute
#table
    max-width: 755px
    height: auto
.lang
	vertical-align: baseline;
	right: 0px
	top: 15px
	position: absolute
.container,.row,.checkbox-container
    width: auto

.container
    margin: 0px
    max-width: 1349px

.row
    margin: 0px

.line
	border-color: #000
	width: 7%
	display: inline-block
	margin: 15px 0 0 0
	vertical-align: top
	overflow: hidden

.current-time
    color: $red
    font-size: 120%
    margin-left: 1%

.time
	display: inline-block

.headline 
	font-size: 120%
	text-align-last: initial

.description-text,.description-text-row
	display: inline-block
	margin-top: 0
    
.description-text-row
    width: 100%

.info-list--elem__title
	background: $accent
	border-radius: 4px
	padding: 3px 0px
	margin: 
		right: 4px


@import "media" // Всегда в конце
