@import "fonts"
@import "libs"
@import "vars"
@import "components/switch"
@import "components/map"
@import "components/switch/switch"
@import "components/timetable/timetable"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.main
	height: 100vh
	&__contant
		height: 100%

.dayFr
	background: lightcoral !important

.highlighter-rouge
	text-transform: uppercase

.text-logo
		content: " "
		font-size: 24pt
		text-align: center
		line-height: 42px
		color: #fff
		vertical-align: middle;
		background: url(/img/technopolis.jpg)
		background-size: cover
		display: inline-block
		height: 0
		width: 28%
.text-logo
        padding-top: 7%
.header
	//text-align-last: center;



.slick-slide
    margin-right: 7px
    width: 60px
    height: 28px
    //margin-top: 10px

#to
    background: #FEFCD7
    color: #B23302

#route1
    visibility: hidden
    position: absolute				

#maps
    max-width: 520px
#table
    max-width: 755px
    height: auto
.lang
	vertical-align: baseline;
.container,.row,.checkbox-container
    width: auto

.container
    margin: 0px
    max-width: 1349px

.row
    margin: 0px
//max-width: 750px 


.line
    border-color: #000
    width: 7%
    display: inline-block
    height: 14px
    overflow: hidden
    margin: 0
.lang
	right: 0px
	top: 15px
	position: absolute
    
.current-time
    color: #B23302
    font-size: 120%
    margin-left: 1%

.time
	display: inline-block

.headline 
	font-size: 120%
	text-align-last: initial

.description-text,.description-text-row
    display: inline-block
    margin-top: 0
    
.description-text-row
    width: 100%

    



@import "media" // Всегда в конце
